In [1]:
import pandas as pd

# Ler o arquivo CSV usando o caminho relativo
df = pd.read_csv('../data/PM_DATABASE.csv')
df.head()

,id,product_id,main_location_id,date,avg_price,ask,bid,created_at,main_location,updated_at
0,1,2,13,2021-06-01,98.260000,100.930014,96.294925,2021-08-02 14:51:46,NaN,2023-08-29 19:11:02
1,2,2,19,2021-06-01,94.195602,94.378171,92.635796,2021-08-02 14:51:46,NaN,2023-08-29 19:11:02
2,3,1,6,2021-06-02,161.750335,NaN,NaN,2021-08-02 14:51:46,NaN,2023-08-29 19:11:02
3,4,1,14,2021-06-23,154.148640,NaN,NaN,2021-08-02 14:51:46,NaN,2023-08-29 19:11:02
4,5,2,6,2021-05-31,77.375000,NaN,NaN,2021-08-02 14:51:46,NaN,2023-08-29 19:11:02

In [4]:
filtered_df = df[df['product_id'] == 1]

# Salvar o DataFrame filtrado em um novo arquivo CSV
filtered_df.to_csv('../data/corn_prices.csv', index=False)

# Exibir as primeiras linhas do DataFrame filtrado
print(filtered_df.head())

   id  product_id  main_location_id        date   avg_price  ask  bid  \
2   3           1                 6  2021-06-02  161.750335  NaN  NaN
3   4           1                14  2021-06-23  154.148640  NaN  NaN
5   6           1                16  2021-06-07  166.711334  NaN  NaN
6   7           1                 1  2021-07-05  157.000000  NaN  NaN
7   8           1                14  2021-06-08  171.910038  NaN  NaN

            created_at  main_location           updated_at
2  2021-08-02 14:51:46            NaN  2023-08-29 19:11:02
3  2021-08-02 14:51:46            NaN  2023-08-29 19:11:02
5  2021-08-02 14:51:46            NaN  2023-08-29 19:11:02
6  2021-08-02 14:51:46            NaN  2023-08-29 19:11:02
7  2021-08-02 14:51:46            NaN  2023-08-29 19:11:02

In [6]:
# Filtrar o DataFrame pelo product_id = 2
filtered_df_product_2 = df[df['product_id'] == 2]

# Salvar o DataFrame filtrado em um novo arquivo CSV
filtered_df_product_2.to_csv('../data/soy_prices.csv', index=False)

# Exibir as primeiras linhas do DataFrame filtrado
print(filtered_df_product_2.head())

    id  product_id  main_location_id        date  avg_price         ask  \
0    1           2                13  2021-06-01  98.260000  100.930014
1    2           2                19  2021-06-01  94.195602   94.378171
4    5           2                 6  2021-05-31  77.375000         NaN
10  11           2                11  2021-07-08  87.000000         NaN
12  13           2                 8  2021-06-02  75.114286         NaN

          bid           created_at  main_location           updated_at
0   96.294925  2021-08-02 14:51:46            NaN  2023-08-29 19:11:02
1   92.635796  2021-08-02 14:51:46            NaN  2023-08-29 19:11:02
4         NaN  2021-08-02 14:51:46            NaN  2023-08-29 19:11:02
10        NaN  2021-08-02 14:51:46            NaN  2023-08-29 19:11:02
12        NaN  2021-08-02 14:51:46            NaN  2023-08-29 19:11:02